@import "node_modules/bootstrap/scss/bootstrap";

#participants {
  width: 100%;
  margin-bottom: 20px;

  .participant {
    display: inline-block;
    width: 90%;
    text-align: left;
  }

  .badge {
    margin-left: $spacer / 2;
  }

  .h5 {
    padding-top: .6em;
    margin-bottom: 0em;
  }

  .person {
    font-size: 20px;
    margin: 0px 7px;
    line-height: 0;
  }

  .scroller {
    max-height: 200px;
    overflow: scroll;
  }

  @media only screen and (max-width: 767px) {
    .dropdown-menu.show {
      display: block;
      width: 100%;
    }
    .dropdown-item {
      margin: 5px 0px;
      font-size: 16px;
    }
  }
}