#lobby {
  .convoWrapper {
    width: 100%;
    margin: 0;
  }

  .convo {
    width: 100%;
    height: 700px;
    display: block;
    margin: 0;
  }

  #participants {
    height: 574px;
    overflow: scroll;
  }
}