.fullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.convoWrapper {
  display: inline-table;
  margin: 10px;
  min-width: 350px;
  min-height: 500px;
  padding: 8px;
}

.enlargedWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
}