@import "~bootstrap/scss/bootstrap";

.dropdown-toggle {
  width: 100%;
}

.dropdown-menu {
  font-size: .85rem;
}

.dropdown-item {
  padding-left: .1rem;
  font-size: .85rem;
}

.btn {
  font-size: .85rem !important;
}